## 기초 분석
- 시도
- 장애등록여부
- 문화예술관련 향후 지출을 늘리고 싶은 항목 1순위
- 1년이내 축제 참여 의향

In [1]:
# 한 셀에서 여러 변수 출력코드
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"

In [2]:
import pandas as pd
import numpy as np

## 데이터로드

In [5]:
df_2018 = pd.read_csv('../data/2018(기초분석).csv', encoding='EUC-KR')
df_2020 = pd.read_csv('../data/2020(기초분석).csv', encoding='EUC-KR')

In [6]:
df_2018.head(3)
df_2020.head(3)

,문6-2. 문화예술 관련 향후 지출을 늘리고 싶은 항목1순위,문19. 1년 이내 축제 참여 의향,문23. 장애등록여부,[분석용] 시도
0,1,1,1,39
1,1,2,1,11
2,1,3,1,11

   문7-2.문화예술관련향후지출을늘리고싶은항목_1순위  문21.1년이내축제참여의향  시도  장애등록여부
0                            1               1   1       1
1                            1               1   1       1
2                            1               1   1       1

In [20]:
# 데이터 정리하기 전 info 확인
df_2018.info()
df_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10558 entries, 0 to 10557
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   expense_f   10558 non-null  int64
 1   festival_f  10558 non-null  int64
 2   disabled    10558 non-null  int64
 3   sido        10558 non-null  int64
dtypes: int64(4)
memory usage: 330.1 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10099 entries, 0 to 10098
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   expense_f   10099 non-null  int64
 1   festival_f  10099 non-null  int64
 2   sido        10099 non-null  int64
 3   disabled    10099 non-null  int64
dtypes: int64(4)
memory usage: 315.7 KB

## 2018년 & 2020년 데이터 정리
- 데이터 열 이름, 순서 변경

In [7]:
# 2018년 columns 확인
df_2018.columns

Index(['문6-2. 문화예술 관련 향후 지출을 늘리고 싶은 항목1순위', '문19. 1년 이내 축제 참여 의향',
       '문23. 장애등록여부', '[분석용] 시도'],
      dtype='object')

In [8]:
# 2020년 columns 확인
df_2020.columns

Index(['문7-2.문화예술관련향후지출을늘리고싶은항목_1순위', '문21.1년이내축제참여의향', '시도', '장애등록여부'], dtype='object')

In [9]:
# 필요한 열 이름 변경(2018)
df_2018.rename(columns={'문6-2. 문화예술 관련 향후 지출을 늘리고 싶은 항목1순위' : 'expense_f',
                        '문19. 1년 이내 축제 참여 의향' : 'festival_f',
                        '문23. 장애등록여부' : 'disabled',
                        '[분석용] 시도' : 'sido'
                       }, inplace=True)

In [11]:
# 열 순서 변경(2018)
df_2018.reindex(columns=['sido',
                        'disabled',
                        'expense_f',
                        'festival_f'])

       sido  disabled  expense_f  festival_f
0        39         1          1           1
1        11         1          1           2
2        11         1          1           3
3        11         1          1           3
4        11         1          1           3
...     ...       ...        ...         ...
10553    36         1          9           7
10554    36         1          9           7
10555    37         1          9           7
10556    39         1          9           7
10557    39         1          9           7

[10558 rows x 4 columns]

In [12]:
# 필요한 열 이름 변경(2020)
df_2020.rename(columns={'문7-2.문화예술관련향후지출을늘리고싶은항목_1순위' : 'expense_f',
                        '문21.1년이내축제참여의향' : 'festival_f',
                        '장애등록여부' : 'disabled',
                        '시도' : 'sido'
                       }, inplace=True)

In [13]:
# 열 순서 변경(2020)
df_2020.reindex(columns=['sido',
                        'disabled',
                        'expense_f',
                        'festival_f'])

       sido  disabled  expense_f  festival_f
0         1         1          1           1
1         1         1          1           1
2         1         1          1           1
3         1         2          1           1
4        12         1          1           1
...     ...       ...        ...         ...
10094     3         1          9           7
10095     3         1          9           7
10096     6         1          9           7
10097     9         1          9           7
10098     9         1          9           7

[10099 rows x 4 columns]

### 2018, 2020년 데이터 병합

In [16]:
# 데이터 병합
df_merge = pd.concat([df_2018, df_2020], axis=0, ignore_index=True)

In [17]:
df_merge

       expense_f  festival_f  disabled  sido
0              1           1         1    39
1              1           2         1    11
2              1           3         1    11
3              1           3         1    11
4              1           3         1    11
...          ...         ...       ...   ...
20652          9           7         1     3
20653          9           7         1     3
20654          9           7         1     6
20655          9           7         1     9
20656          9           7         1     9

[20657 rows x 4 columns]

#### 병합한 데이터 info 확인

##### 확인 결과
- sido, disabled, expense_f, festival_f 모두 null 값 없음
- 데이터 타입 : int

In [19]:
# 병합한 데이터 info 확인
df_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20657 entries, 0 to 20656
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   expense_f   20657 non-null  int64
 1   festival_f  20657 non-null  int64
 2   disabled    20657 non-null  int64
 3   sido        20657 non-null  int64
dtypes: int64(4)
memory usage: 645.7 KB

### 각각의 컬럼 데이터 분포 확인

### sido

##### 2018

- 11	서울	
- 21	부산	
- 22	대구	
- 23	인천	
- 24	광주
- 25	대전	
- 26	울산	
- 29	세종	
- 31	경기
- 32	강원
- 33	충북
- 34	충남
- 35	전북
- 36	전남
- 37	경북
- 38	경남
- 39	제주


##### 2020

- 1 서울	
- 10 강원
- 11 충북
- 12 충남	
- 13 전북	
- 14 전남	
- 15 경북	
- 16 경남	
- 17 제주	
- 2 부산	
- 3 대구	
- 4 인천	
- 5 광주	
- 6 대전	
- 7 울산	
- 8 세종
- 9 경기

#### 데이터 정제 필요
1. 2018년 2020년의 동일 지역의 코드값이 다름
    - 코드값 & 지역명 정의 필요

|지역|2018 코드값|2020 코드값|
|:-|:-|:-|
|서울|11|1|
|부산|21|2|
|대구|22|3|
|인천|23|4|
|광주|24|5|
|대전|25|6|
|울산|26|7|
|세종|29|8|
|경기|31|9|
|강원|32|10|
|충북|33|11|
|충남|34|12|
|전북|35|13|
|전남|36|14|
|경북|37|15|
|경남|38|16|
|제주|39|17|

2. 2018 서울 코드값 & 2020 충북 코드값 동일 
    - 데이터 병합 전 처리 필요

In [29]:
# 각각의 코드 값 확인
df_merge['sido'].value_counts().sort_values(ascending=False)

9     2412
1     1928
11    1556
31    1333
21     759
38     730
2      686
37     671
16     667
23     646
22     636
34     586
35     561
15     549
4      549
36     543
33     501
3      491
25     490
32     482
24     480
12     436
26     421
13     376
14     361
10     314
6      303
39     301
5      293
7      222
29     191
17     121
8       62
Name: sido, dtype: int64

3. 2018 & 2020년에 들어있는 지역은 동일함

In [34]:
# 겹치는 지역 확인
area2018 = {'서울', '부산', '대구', '인천', '광주', '대전', '울산', '세종', '경기', '강원', '충북', '충남', '전북', '전남', '경북', '경남', '제주'} 
area2020 = {'서울', '강원', '충북', '충남', '전북', '전남', '경북', '경남', '제주', '부산', '대구', '인천', '광주', '대전', '울산', '세종', '경기'}

# 전체 지역
all_area = area2018.union(area2020)
len(all_area)
# 겹치는 지역
intersection_area = area2018.intersection(area2020)
len(intersection_area)

17

17

### disabled

##### 2018

- 1 해당사항없음
- 2 미등록
- 3 장애등록


##### 2020

- 1 해당사항없음
- 2 미등록
- 3 장애등록

In [35]:
# 각각의 코드 값 확인
df_merge['disabled'].value_counts().sort_values(ascending=False)

1    19803
2      533
3      321
Name: disabled, dtype: int64

### expense_f

##### 2018
- 총 21개

- 1	구입대여-문학	
- 10	관람-각종 전시회	
- 11	관람-클래식음악회	
- 12	관람-전통예술(국악, 풍물, 민속극)	
- 13	관람-영화	
- 14	관람-연극(뮤지컬)	
- 15	관람-무용(서양무용, 한국무용, 현대무용)	
- 16	관람-연예(방송 프로그램 등) / 콘서트	
- 17	기타-예술
- 18	기타-예술 창작	
- 19	기타-인문학(문학,역사,철학)관련 교육비,강습비
- 2	구입대여-비문학
- 20	기타-기타	
- 21	해당사항 없음
- 3	구입대여-미술	
- 4	구입대여-클래식음악	
- 5	구입대여-전통예술	
- 6	구입대여-영화	
- 7	구입대여-연극(뮤지컬)	
- 8	구입대여-무용
- 9	구입대여-대중예술(음악)	


##### 2020

- 총 28개

- 1 문학(독서 포함)
- 10 문학행사(시화전, 도서전시회, 작가와의 대화)
- 11 미술(사진/서예/건축/디자인 포함)전시회	
- 12 서양음악(클래식, 오페라, 서양악기 관련)	
- 13 전통예술(국악, 풍물, 민속극)	
- 14 연극
- 15 뮤지컬	
- 16 무용(서양무용, 한국무용, 현대무용)	
- 17 영화	
- 18 대중음악(가요콘서트), 연예 기타(강습비, 학원비 등)
- 19 문학(글쓰기 포함)	
- 2	미술(사진/서예/건축/디자인 포함)	
- 20 미술(사진/서예/건축/디자인 포함)	
- 21 서양음악(클래식, 오페라, 서양악기 관련)	
- 22 전통예술(국악, 풍물, 민속극)
- 23 연극	
- 24 뮤지컬	
- 25 무용(서양무용, 한국무용, 현대무용)	
- 26 영화	
- 27 대중음악(가요콘서트), 연예	
- 28 해당사항 없음
- 3	서양음악(클래식, 오페라, 서양악기 관련)
- 4	 전통예술(국악, 풍물, 민속극)
- 5 연극	
- 6	뮤지컬	
- 7	무용(서양무용, 한국무용, 현대무용)	
- 8	영화
- 9	대중음악(가요콘서트), 연예직접 관람

In [36]:
# 각각의 코드 값 확인
df_merge['expense_f'].value_counts().sort_values(ascending=False)

13    4898
17    4709
16    1218
14    1177
28    1076
18    1036
1      783
21     777
8      697
15     688
12     618
10     587
9      573
6      500
11     373
2      162
5      148
7      141
19      96
3       89
4       87
27      64
20      53
26      38
22      32
24      15
23      12
25      10
Name: expense_f, dtype: int64

### festival_f

##### 2018
- 총 7개

- 1	①전혀 하고싶지 않다
- 2	②	
- 3	③	
- 4	④보통	
- 5	⑤	
- 6	⑥	
- 7	⑦매우 하고싶다)	


##### 2020

- 총 7개

- 1 ①전혀 없다	
- 2 ②	
- 3 ③	
- 4 ④보통	
- 5 ⑤	
- 6 ⑥	
- 7 ⑦매우 그렇다

In [37]:
# 각각의 코드 값 확인
df_merge['festival_f'].value_counts().sort_values(ascending=False)

5    7052
6    5927
4    4645
7    1479
3     779
2     433
1     342
Name: festival_f, dtype: int64